# CLEANING DATA

## Import data 📒

In [2]:
import pandas as pd

# Read the train file from the raw directory
train_df = pd.read_csv('../data/raw/train.csv')
print(train_df.head())

   Gender  Height (cm)  Weight (kg) Blood Pressure (s/d)  \
0    Male   171.148359    86.185197              151/109
1    Male   172.946206    79.641937              134/112
2  Female   155.945488    49.167058              160/101
3  Female   169.078298    56.017921               133/94
4  Female   163.758355    73.966304              170/106

   Cholesterol Level (mg/dL)        BMI  Blood Glucose Level (mg/dL)  \
0                 259.465814  29.423017                   157.652848
1                 263.630292  26.626847                   118.507805
2                 207.846206  20.217553                   143.587550
3                 253.283779  19.595270                   137.448581
4                 236.119899  27.582078                   145.328695

   Bone Density (g/cm²)  Vision Sharpness  Hearing Ability (dB)  ...  \
0              0.132868          0.200000             58.786198  ...
1              0.629534          0.267312             54.635270  ...
2              0.473487          0.248667             54.564632  ...
3              1.184315          0.513818             79.722963  ...
4              0.434562          0.306864             52.479469  ...

  Family History Cognitive Function Mental Health Status Sleep Patterns  \
0            NaN          44.059172                 Good       Insomnia
1  Heart Disease          45.312298                 Good         Normal
2   Hypertension          56.246991                 Poor       Insomnia
3   Hypertension          55.196092                 Poor       Insomnia
4            NaN          53.023379                 Good         Normal

  Stress Levels Pollution Exposure Sun Exposure  Education Level Income Level  \
0      2.797064           5.142344     7.108975              NaN       Medium
1      9.339930           7.272720     3.918489    Undergraduate       Medium
2      9.234637           8.500386     5.393408              NaN       Medium
3      4.693446           7.555511     2.745578              NaN          Low
4      4.038537           9.429097     3.878435    Undergraduate         High

  Age (years)
0          89
1          77
2          70
3          52
4          79

[5 rows x 26 columns]

## Data exploration 🔎

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Gender                       3000 non-null   object
 1   Height (cm)                  3000 non-null   float64
 2   Weight (kg)                  3000 non-null   float64
 3   Blood Pressure (s/d)         3000 non-null   object
 4   Cholesterol Level (mg/dL)    3000 non-null   float64
 5   BMI                          3000 non-null   float64
 6   Blood Glucose Level (mg/dL)  3000 non-null   float64
 7   Bone Density (g/cm²)         3000 non-null   float64
 8   Vision Sharpness             3000 non-null   float64
 9   Hearing Ability (dB)         3000 non-null   float64
 10  Physical Activity Level      3000 non-null   object
 11  Smoking Status               3000 non-null   object
 12  Alcohol Consumption          1799 non-null   object
 13  Diet                         3000 non-null   object
 14  Chronic Diseases             1701 non-null   object
 15  Medication Use               1802 non-null   object
 16  Family History               1549 non-null   object
 17  Cognitive Function           3000 non-null   float64
 18  Mental Health Status         3000 non-null   object
 19  Sleep Patterns               3000 non-null   object
 20  Stress Levels                3000 non-null   float64
 21  Pollution Exposure           3000 non-null   float64
 22  Sun Exposure                 3000 non-null   float64
 23  Education Level              2373 non-null   object
 24  Income Level                 3000 non-null   object
 25  Age (years)                  3000 non-null   int64
dtypes: float64(12), int64(1), object(13)
memory usage: 609.5+ KB

In [4]:
train_df.describe()

,Height (cm),Weight (kg),Cholesterol Level (mg/dL),BMI,Blood Glucose Level (mg/dL),Bone Density (g/cm²),Vision Sharpness,Hearing Ability (dB),Cognitive Function,Stress Levels,Pollution Exposure,Sun Exposure,Age (years)
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,168.590835,72.537260,234.029794,25.550146,126.653909,0.931899,0.474591,47.016214,63.868376,5.476507,5.028982,5.955785,53.485667
std,9.293006,13.190734,24.521436,4.367322,18.226124,0.443550,0.209726,14.336464,11.755738,2.584901,2.871408,3.474595,20.569690
min,141.130985,32.537672,148.811514,12.049900,69.866884,-0.219787,0.200000,0.000000,30.382098,1.000428,0.006395,0.002055,18.000000
25%,161.629515,63.222773,216.756601,22.454115,114.392605,0.561063,0.281671,36.734775,55.647794,3.221745,2.607185,2.873285,36.000000
50%,168.215632,71.448651,234.376822,25.352113,126.802186,0.939585,0.462070,46.963733,64.014652,5.496618,5.095686,5.956789,53.000000
75%,175.522665,81.702801,250.646674,28.403543,139.377079,1.294570,0.639498,56.828847,72.087453,7.680320,7.476338,8.991349,72.000000
max,198.112215,123.598603,331.300589,43.329869,185.736144,1.999829,1.062537,94.003824,106.479831,9.996323,9.998090,11.992504,89.000000

In [5]:
train_df.shape

(3000, 26)

In [6]:
train_df.columns

Index(['Gender', 'Height (cm)', 'Weight (kg)', 'Blood Pressure (s/d)',
       'Cholesterol Level (mg/dL)', 'BMI', 'Blood Glucose Level (mg/dL)',
       'Bone Density (g/cm²)', 'Vision Sharpness', 'Hearing Ability (dB)',
       'Physical Activity Level', 'Smoking Status', 'Alcohol Consumption',
       'Diet', 'Chronic Diseases', 'Medication Use', 'Family History',
       'Cognitive Function', 'Mental Health Status', 'Sleep Patterns',
       'Stress Levels', 'Pollution Exposure', 'Sun Exposure',
       'Education Level', 'Income Level', 'Age (years)'],
      dtype='object')

In [7]:
train_df.isnull().sum()

Gender                            0
Height (cm)                       0
Weight (kg)                       0
Blood Pressure (s/d)              0
Cholesterol Level (mg/dL)         0
BMI                               0
Blood Glucose Level (mg/dL)       0
Bone Density (g/cm²)              0
Vision Sharpness                  0
Hearing Ability (dB)              0
Physical Activity Level           0
Smoking Status                    0
Alcohol Consumption            1201
Diet                              0
Chronic Diseases               1299
Medication Use                 1198
Family History                 1451
Cognitive Function                0
Mental Health Status              0
Sleep Patterns                    0
Stress Levels                     0
Pollution Exposure                0
Sun Exposure                      0
Education Level                 627
Income Level                      0
Age (years)                       0
dtype: int64

In [8]:

train_df.dtypes

Gender                          object
Height (cm)                    float64
Weight (kg)                    float64
Blood Pressure (s/d)            object
Cholesterol Level (mg/dL)      float64
BMI                            float64
Blood Glucose Level (mg/dL)    float64
Bone Density (g/cm²)           float64
Vision Sharpness               float64
Hearing Ability (dB)           float64
Physical Activity Level         object
Smoking Status                  object
Alcohol Consumption             object
Diet                            object
Chronic Diseases                object
Medication Use                  object
Family History                  object
Cognitive Function             float64
Mental Health Status            object
Sleep Patterns                  object
Stress Levels                  float64
Pollution Exposure             float64
Sun Exposure                   float64
Education Level                 object
Income Level                    object
Age (years)                      int64
dtype: object

In [9]:
train_df.head()

,Gender,Height (cm),Weight (kg),Blood Pressure (s/d),Cholesterol Level (mg/dL),BMI,Blood Glucose Level (mg/dL),Bone Density (g/cm²),Vision Sharpness,Hearing Ability (dB),...,Family History,Cognitive Function,Mental Health Status,Sleep Patterns,Stress Levels,Pollution Exposure,Sun Exposure,Education Level,Income Level,Age (years)
0,Male,171.148359,86.185197,151/109,259.465814,29.423017,157.652848,0.132868,0.200000,58.786198,...,NaN,44.059172,Good,Insomnia,2.797064,5.142344,7.108975,NaN,Medium,89
1,Male,172.946206,79.641937,134/112,263.630292,26.626847,118.507805,0.629534,0.267312,54.635270,...,Heart Disease,45.312298,Good,Normal,9.339930,7.272720,3.918489,Undergraduate,Medium,77
2,Female,155.945488,49.167058,160/101,207.846206,20.217553,143.587550,0.473487,0.248667,54.564632,...,Hypertension,56.246991,Poor,Insomnia,9.234637,8.500386,5.393408,NaN,Medium,70
3,Female,169.078298,56.017921,133/94,253.283779,19.595270,137.448581,1.184315,0.513818,79.722963,...,Hypertension,55.196092,Poor,Insomnia,4.693446,7.555511,2.745578,NaN,Low,52
4,Female,163.758355,73.966304,170/106,236.119899,27.582078,145.328695,0.434562,0.306864,52.479469,...,NaN,53.023379,Good,Normal,4.038537,9.429097,3.878435,Undergraduate,High,79

## Change the name of the columns 🧑‍💻

In [10]:
previous_columns = train_df.columns
print(previous_columns)

Index(['Gender', 'Height (cm)', 'Weight (kg)', 'Blood Pressure (s/d)',
       'Cholesterol Level (mg/dL)', 'BMI', 'Blood Glucose Level (mg/dL)',
       'Bone Density (g/cm²)', 'Vision Sharpness', 'Hearing Ability (dB)',
       'Physical Activity Level', 'Smoking Status', 'Alcohol Consumption',
       'Diet', 'Chronic Diseases', 'Medication Use', 'Family History',
       'Cognitive Function', 'Mental Health Status', 'Sleep Patterns',
       'Stress Levels', 'Pollution Exposure', 'Sun Exposure',
       'Education Level', 'Income Level', 'Age (years)'],
      dtype='object')

In [11]:
named_df=train_df.rename(columns={
    'Age (years)': 'Age',
    'Income Level': 'Income',
    'Education Level': 'Education',
    'Sun Exposure': 'Sun_Exposure',
    'Pollution Exposure': 'Pollution',
    'Stress Levels': 'Stress',
    'Sleep Patterns': 'Sleep',
    'Mental Health Status': 'Mental_Health',
    'Cognitive Function': 'Cognitive_Function',
    'Family History': 'Family_History',
    'Medication Use': 'Medication',
    'Chronic Diseases': 'Chronic_Diseases',
    'Diet': 'Diet',
    'Alcohol Consumption': 'Alcohol',
    'Smoking Status': 'Smoking',
    'Physical Activity Level': 'Physical_Activity',
    'Hearing Ability (dB)': 'Hearing',
    'Vision Sharpness': 'Vision',
    'Bone Density (g/cm²)': 'Bone_Density',
    'Blood Glucose Level (mg/dL)': 'Blood_Glucose',
    'BMI': 'BMI',
    'Cholesterol Level (mg/dL)': 'Cholesterol',
    'Blood Pressure (s/d)': 'Blood_Pressure',
    'Weight (kg)': 'Weight',
    'Height (cm)': 'Height',
    'Gender': 'Gender'
})

new_columns = named_df.columns
print(new_columns)

Index(['Gender', 'Height', 'Weight', 'Blood_Pressure', 'Cholesterol', 'BMI',
       'Blood_Glucose', 'Bone_Density', 'Vision', 'Hearing',
       'Physical_Activity', 'Smoking', 'Alcohol', 'Diet', 'Chronic_Diseases',
       'Medication', 'Family_History', 'Cognitive_Function', 'Mental_Health',
       'Sleep', 'Stress', 'Pollution', 'Sun_Exposure', 'Education', 'Income',
       'Age'],
      dtype='object')

In [12]:
named_df.head(100)

,Gender,Height,Weight,Blood_Pressure,Cholesterol,BMI,Blood_Glucose,Bone_Density,Vision,Hearing,...,Family_History,Cognitive_Function,Mental_Health,Sleep,Stress,Pollution,Sun_Exposure,Education,Income,Age
0,Male,171.148359,86.185197,151/109,259.465814,29.423017,157.652848,0.132868,0.200000,58.786198,...,NaN,44.059172,Good,Insomnia,2.797064,5.142344,7.108975,NaN,Medium,89
1,Male,172.946206,79.641937,134/112,263.630292,26.626847,118.507805,0.629534,0.267312,54.635270,...,Heart Disease,45.312298,Good,Normal,9.339930,7.272720,3.918489,Undergraduate,Medium,77
2,Female,155.945488,49.167058,160/101,207.846206,20.217553,143.587550,0.473487,0.248667,54.564632,...,Hypertension,56.246991,Poor,Insomnia,9.234637,8.500386,5.393408,NaN,Medium,70
3,Female,169.078298,56.017921,133/94,253.283779,19.595270,137.448581,1.184315,0.513818,79.722963,...,Hypertension,55.196092,Poor,Insomnia,4.693446,7.555511,2.745578,NaN,Low,52
4,Female,163.758355,73.966304,170/106,236.119899,27.582078,145.328695,0.434562,0.306864,52.479469,...,NaN,53.023379,Good,Normal,4.038537,9.429097,3.878435,Undergraduate,High,79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Female,167.898496,61.912788,155/92,232.288204,21.962752,135.231267,0.395293,0.493862,43.688301,...,Diabetes,74.970438,Poor,Insomnia,7.633869,9.745918,0.626384,Undergraduate,Medium,64
96,Male,172.699671,87.238249,114/89,190.217941,29.249869,99.708924,1.367295,0.436119,42.789797,...,Diabetes,46.901118,Fair,Insomnia,5.691664,9.760138,1.506603,NaN,High,30
97,Female,155.240719,60.318172,133/99,192.248230,25.028619,91.125319,1.544714,0.765089,33.733417,...,NaN,75.239532,Good,Insomnia,5.264288,0.578444,11.493478,Postgraduate,High,24
98,Female,169.751680,78.488294,142/89,218.104550,27.238095,115.482685,1.070822,0.410582,48.432692,...,Diabetes,79.429948,Poor,Insomnia,5.229894,8.901411,8.492656,NaN,Low,49
99,Male,164.003047,79.812175,135/95,229.025069,29.673264,154.370059,0.678198,0.308465,58.317351,...,Hypertension,74.383393,Excellent,Excessive,5.745094,3.918583,7.909365,NaN,Medium,71

## Handle columes having missing values

In [13]:
handle_missing_values_df = named_df
handle_missing_values_df.isnull().sum()

Gender                   0
Height                   0
Weight                   0
Blood_Pressure           0
Cholesterol              0
BMI                      0
Blood_Glucose            0
Bone_Density             0
Vision                   0
Hearing                  0
Physical_Activity        0
Smoking                  0
Alcohol               1201
Diet                     0
Chronic_Diseases      1299
Medication            1198
Family_History        1451
Cognitive_Function       0
Mental_Health            0
Sleep                    0
Stress                   0
Pollution                0
Sun_Exposure             0
Education              627
Income                   0
Age                      0
dtype: int64

Trong quá trình phân tích dữ liệu, ta thấy dữ liệu bị khuyết ở các cột:
 - Alcohol Consumption
 - Chronic_Diseases
 - Medication   
 - Family_History
 - Education

Giờ ta sẽ xử lý khuyết cho các cột này.

#### Alcohol Consumption

In [14]:
handle_missing_values_df["Alcohol"].value_counts()

Alcohol
Occasional    1057
Frequent       742
Name: count, dtype: int64

In [15]:

the_most_common_value_of_alcohol = handle_missing_values_df["Alcohol"].mode()[0]

handle_missing_values_df["Alcohol"].fillna(the_most_common_value_of_alcohol, inplace=True)

handle_missing_values_df.isnull().sum()

C:\Users\21522\AppData\Local\Temp\ipykernel_21268\1786150182.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  handle_missing_values_df["Alcohol"].fillna(the_most_common_value_of_alcohol, inplace=True)

Gender                   0
Height                   0
Weight                   0
Blood_Pressure           0
Cholesterol              0
BMI                      0
Blood_Glucose            0
Bone_Density             0
Vision                   0
Hearing                  0
Physical_Activity        0
Smoking                  0
Alcohol                  0
Diet                     0
Chronic_Diseases      1299
Medication            1198
Family_History        1451
Cognitive_Function       0
Mental_Health            0
Sleep                    0
Stress                   0
Pollution                0
Sun_Exposure             0
Education              627
Income                   0
Age                      0
dtype: int64

#### Chronic_Diseases

Cột này có thể sẽ ảnh hưởng tới Chronic Diseases nên ta sẽ điền với giá trị Unknown để giữ nguyên thông tin.

In [16]:
handle_missing_values_df["Chronic_Diseases"].unique()

array([nan, 'Hypertension', 'Diabetes', 'Heart Disease'], dtype=object)

In [17]:

handle_missing_values_df["Chronic_Diseases"].value_counts()

Chronic_Diseases
Hypertension     676
Diabetes         532
Heart Disease    493
Name: count, dtype: int64

In [18]:
handle_missing_values_df["Chronic_Diseases"] = handle_missing_values_df["Chronic_Diseases"].fillna("Unknown")

In [19]:
handle_missing_values_df["Chronic_Diseases"].value_counts()

Chronic_Diseases
Unknown          1299
Hypertension      676
Diabetes          532
Heart Disease     493
Name: count, dtype: int64

#### Medication

In [20]:
handle_missing_values_df["Medication"].unique()

array([nan, 'Regular', 'Occasional'], dtype=object)

In [21]:
handle_missing_values_df["Medication"].fillna(handle_missing_values_df["Medication"].mode()[0], inplace=True)

handle_missing_values_df["Medication"].value_counts()

C:\Users\21522\AppData\Local\Temp\ipykernel_21268\948806951.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  handle_missing_values_df["Medication"].fillna(handle_missing_values_df["Medication"].mode()[0], inplace=True)

Medication
Regular       2261
Occasional     739
Name: count, dtype: int64

#### Family_History

In [22]:

handle_missing_values_df["Family_History"].unique()

array([nan, 'Heart Disease', 'Hypertension', 'Diabetes'], dtype=object)

In [23]:
handle_missing_values_df["Family_History"].fillna(handle_missing_values_df["Family_History"].mode()[0], inplace=True)

C:\Users\21522\AppData\Local\Temp\ipykernel_21268\614451115.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  handle_missing_values_df["Family_History"].fillna(handle_missing_values_df["Family_History"].mode()[0], inplace=True)

In [24]:

handle_missing_values_df["Family_History"].value_counts()

Family_History
Diabetes         2096
Heart Disease     453
Hypertension      451
Name: count, dtype: int64

#### Education

In [25]:
# Xử lý bằng giá trị xuất hiện nhiều nhất
handle_missing_values_df["Education"]=handle_missing_values_df["Education"].fillna(handle_missing_values_df["Education"].mode()[0])

handle_missing_values_df["Education"].value_counts()

Education
Undergraduate    1511
High School       883
Postgraduate      606
Name: count, dtype: int64

#### Chronic Diseases

In [29]:
handle_missing_values_df.dtypes

Gender                 object
Height                float64
Weight                float64
Cholesterol           float64
BMI                   float64
Blood_Glucose         float64
Bone_Density          float64
Vision                float64
Hearing               float64
Physical_Activity      object
Smoking                object
Alcohol                object
Diet                   object
Chronic_Diseases       object
Medication             object
Family_History         object
Cognitive_Function    float64
Mental_Health          object
Sleep                  object
Stress                float64
Pollution             float64
Sun_Exposure          float64
Education              object
Income                 object
Age                     int64
Systolic_BP             int64
Diastolic_BP            int64
dtype: object

In [ ]:


import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

data = handle_missing_values_df

# Các biến ảnh hưởng đến Chronic_Diseases
relevant_features = [
    'Age',                     
    'Systolic_BP',
    'Diastolic_BP',  
    'Cholesterol',            
    'BMI',                   
    'Blood_Glucose',        
    'Smoking',                 
    'Alcohol',                 
    'Diet',                   
    'Physical_Activity',     
    'Family_History',       
    'Stress',                
    'Sleep',                  
    'Pollution'                
]
# Tách dữ liệu thành hai phần: có và không có giá trị Chronic Diseases
train_data = data[data['Chronic_Diseases'].notna()]
test_data = data[data['Chronic_Diseases'].isna()]

# Chọn các biến đầu vào
X = train_data[relevant_features]
y = train_data['Chronic_Diseases']

# Mã hóa các biến phân loại
categorical_cols = X.select_dtypes(include=['object', 'category']).columns

for col in categorical_cols:
    le = LabelEncoder()
    X[col] = le.fit_transform(X[col].astype(str))

# Xử lý giá trị thiếu trong các biến đầu vào
imputer = SimpleImputer(strategy='mean')
X = pd.DataFrame(imputer.fit_transform(X), columns=X.columns)

# Chia dữ liệu thành tập huấn luyện và tập kiểm tra để đánh giá mô hình
X_train, X_valid, y_train, y_valid = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# Huấn luyện mô hình
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

# Dự đoán trên tập kiểm tra
y_pred = model.predict(X_valid)

# Đánh giá mô hình
accuracy = accuracy_score(y_valid, y_pred)
print("Độ chính xác của mô hình:", accuracy)

print("\nBáo cáo phân loại:")
print(classification_report(y_valid, y_pred))

print("\nMa trận nhầm lẫn:")
print(confusion_matrix(y_valid, y_pred))

KeyError: "['Systolic_BP / Diastolic_BP'] not in index"

## Change the blood pressure

In [26]:
bp_split = handle_missing_values_df['Blood_Pressure'].str.split('/', expand=True)
handle_missing_values_df['Systolic_BP'] = pd.to_numeric(bp_split[0])
handle_missing_values_df['Diastolic_BP'] = pd.to_numeric(bp_split[1])

# Drop the original "Blood Pressure (s/d)" column
handle_missing_values_df.drop(columns=['Blood_Pressure'], inplace=True)

In [27]:
handle_missing_values_df.head()

,Gender,Height,Weight,Cholesterol,BMI,Blood_Glucose,Bone_Density,Vision,Hearing,Physical_Activity,...,Mental_Health,Sleep,Stress,Pollution,Sun_Exposure,Education,Income,Age,Systolic_BP,Diastolic_BP
0,Male,171.148359,86.185197,259.465814,29.423017,157.652848,0.132868,0.200000,58.786198,Moderate,...,Good,Insomnia,2.797064,5.142344,7.108975,Undergraduate,Medium,89,151,109
1,Male,172.946206,79.641937,263.630292,26.626847,118.507805,0.629534,0.267312,54.635270,Low,...,Good,Normal,9.339930,7.272720,3.918489,Undergraduate,Medium,77,134,112
2,Female,155.945488,49.167058,207.846206,20.217553,143.587550,0.473487,0.248667,54.564632,Moderate,...,Poor,Insomnia,9.234637,8.500386,5.393408,Undergraduate,Medium,70,160,101
3,Female,169.078298,56.017921,253.283779,19.595270,137.448581,1.184315,0.513818,79.722963,Moderate,...,Poor,Insomnia,4.693446,7.555511,2.745578,Undergraduate,Low,52,133,94
4,Female,163.758355,73.966304,236.119899,27.582078,145.328695,0.434562,0.306864,52.479469,Low,...,Good,Normal,4.038537,9.429097,3.878435,Undergraduate,High,79,170,106

## Export to data in data folder

In [28]:
handle_missing_values_df.to_csv('../data/interim/handled_missing_values.csv', index=False)
handle_missing_values_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Gender              3000 non-null   object
 1   Height              3000 non-null   float64
 2   Weight              3000 non-null   float64
 3   Cholesterol         3000 non-null   float64
 4   BMI                 3000 non-null   float64
 5   Blood_Glucose       3000 non-null   float64
 6   Bone_Density        3000 non-null   float64
 7   Vision              3000 non-null   float64
 8   Hearing             3000 non-null   float64
 9   Physical_Activity   3000 non-null   object
 10  Smoking             3000 non-null   object
 11  Alcohol             3000 non-null   object
 12  Diet                3000 non-null   object
 13  Chronic_Diseases    3000 non-null   object
 14  Medication          3000 non-null   object
 15  Family_History      3000 non-null   object
 16  Cognitive_Function  3000 non-null   float64
 17  Mental_Health       3000 non-null   object
 18  Sleep               3000 non-null   object
 19  Stress              3000 non-null   float64
 20  Pollution           3000 non-null   float64
 21  Sun_Exposure        3000 non-null   float64
 22  Education           3000 non-null   object
 23  Income              3000 non-null   object
 24  Age                 3000 non-null   int64
 25  Systolic_BP         3000 non-null   int64
 26  Diastolic_BP        3000 non-null   int64
dtypes: float64(12), int64(3), object(12)
memory usage: 632.9+ KB